/* Simple CSS for theme changer */

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

html.light {
  --bg: white;
  --text: #000;
}

html.dark {
  --bg: #1a1a1a;
  --text: #fff;
}

.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 24px;
}

